body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ebe8f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cadastro-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.cadastro-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
}

.titulo {
  color: #3d4b68;
  margin-bottom: 25px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #a0a4b8;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  border-color: #3d4b68;
  box-shadow: 0 0 5px rgba(0, 91, 170, 0.4);
}

.btn-cadastrar {
  margin-top: 20px;
  width: 50%;
  padding: 12px;
  background-color: #3d4b68;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-cadastrar:hover {
  background-color: #3d4b68;
}
.btn-voltar {
  display: inline-block;
  background: none;
  border: none;
  color: #3d4b68;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-voltar:hover {
  color: #3d4b68;
}
.codigo-input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* Estilo individual para cada input quadrado */
.codigo-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #a0a4b8;
    border-radius: 8px;
    font-weight: bold;
    box-sizing: border-box;
}


.codigo-instrucao-texto {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}


.mensagem-feedback {
    margin: 15px 0;
}


.reset-button.verificar {
    width: 80%;
}