/* Menu inferior*/
.footer-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e8e6f3;
  border-top: 1.5px solid #4d5777; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px; 
}

/* Cada item do menu*/
.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3c4365;
  font-size: 12px;
  cursor: pointer;
  padding: 0; 
}

/* Links */
.footer-link {
  text-decoration: none;
  color: #3c4365;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px; 
  transition: none;
}

/* Menu Rodapé*/
.footer-link:hover {
  transform: none; 
  color: #3c4365; 
}

/* Ícones */
.footer-icon {
  width: 22px; 
  height: 22px;
  margin-bottom: 0; 
  object-fit: contain;
}

/* Imagem de perfil*/
.perfil-icon {
  width: 38px; 
  height: 38px;
  border-radius: 50%;
  border: 1.5px solid #4d5777; 
  object-fit: cover;
}


.ativo .footer-link {
  color: #5a6385;
  font-weight: 700;
}

/* Estilo responsivo para telas menores */
@media (max-width: 400px) {
  .footer-menu {
    height: 55px; 
  }

  .footer-icon {
    width: 18px;
    height: 18px;
  }
}

