
/*LAYOUT PRINCIPAL E TÍTULO */
.perfil-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 90px 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #007bff;
    border-bottom: 2px solid #e9ecef;
}


/*FOTO DE PERFIL*/
.perfil-foto-secao {
    text-align: center;
    margin-bottom: 30px;
}

.foto-wrapper {
    position: relative;
    display: inline-block;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-mudar-foto {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #6c63ff;
    color: white;
    border: 3px solid #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-mudar-foto:hover {
    background-color: #6c63ff;
}


/*CAMPOS DE INFORMAÇÕES*/
.campo-item {
    margin-bottom: 25px;
}

.campo-item label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: bold;
    color: #495057;
}

.campo-item label svg {
    margin-right: 8px;
    color: #6c63ff;
}

.campo-item input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.campo-item input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    outline: none;
}

/* Senha específica */
.input-senha-wrapper {
    display: flex;
    position: relative;
}

.input-senha-wrapper input {
    padding-right: 45px;
}

.btn-mostrar-senha {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: none;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    color: #6c757d;
}

/* Botão Salvar */
.btn-salvar {
    width: 100%;
    padding: 15px;
    background-color: #3c4365;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
}

.btn-salvar:hover {
    background-color:#3c4365;
}