
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ebe8f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.reset-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa centralizada do formulário de redefinição */
.reset-box {
    background-color: white;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
}

.reset-title {
    color: #3d4b68;
    margin-bottom: 25px;
    font-weight: bold;
}

/*Nova Senha*/
.reset-label {
    display: block; 
    width: 100%;
    text-align: left; 
    margin-top: 15px;
    font-weight: 600;
    color: #3d4b68;
    font-size: 15px;
}
.reset-input {
    width: 100%;
    padding: 12px 14px; 
    margin: 5px 0 15px 0;
    border: 1px solid #a0a4b8;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #3d4b68;
    box-sizing: border-box; 
}


.reset-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 91, 170, 0.6);
}

/* Botão de envio */
.reset-button {
    margin-top: 20px;
    width: 70%;
    padding: 12px;
    background-color: #3d4b68;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.reset-button:hover {
    background-color: #2b3952; 
}

/* Link de Voltar */
.btn-voltar {
    align-self: flex-start; 
    background: none;
    border: none;
    color: #3d4b68;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-voltar:hover {
    color: #2b3952;
}